*
  padding: 0
  margin: 0
body
  /* On modern browsers, prevent the whole page to bounce */
  overflow: hidden
#wrapper
  position: absolute
  width: 80%
  top: 30px
  left: 20%
  overflow: hidden
  height: 360px

  /* Prevent native touch events on Windows */
  -ms-touch-action: none

  /* Prevent the callout on tap-hold and text selection */
  -webkit-touch-callout: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

  /* Prevent text resize on orientation change, useful for web-apps */
  -webkit-text-size-adjust: none
  -moz-text-size-adjust: none
  -ms-text-size-adjust: none
  -o-text-size-adjust: none
  text-size-adjust: none
  border-bottom: 4px solid green
  border-top : 4px solid green

#scroller
  position: absolute
  width: 100%
  /* Prevent elements to be highlighted on tap */
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  /* Put the scroller into the HW Compositing layer right from the start */
  -webkit-transform: translateZ(0)
  -moz-transform: translateZ(0)
  -ms-transform: translateZ(0)
  -o-transform: translateZ(0)
  transform: translateZ(0)

.header
  position: absolute
  left: 0
  right: 0
  top: 0
  height: 30px
  line-height: 30px
  background-color: #0a68b4
  color: #fff
  text-align: center
.menu
  position: absolute
  left: 0
  top: 30px
  bottom: 0
  width: 20%
  li
    height: 28px
    line-height: 28px
    text-align: center
    border-bottom: 1px solid grey

.content
  .order-section
    height: 40px
    line-height: 40px
    padding: 0px 0
    margin-bottom: 4px
    border-bottom: 1px solid #7f7f7f
    width: 100%

